<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.vtc.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%org.vtc.ui.common.perspective"
            class="org.vtc.ui.common.Perspective"
            id="org.vtc.ui.common.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.vtc.application"
            name="VisualToolComposer">
         <property
               name="appName"
               value="VisualToolComposer">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.vtc.ui.common.view.ComponentExplorer"
            icon="icons/gear_in.png"
            id="org.vtc.ui.common.view.ComponentExplorer"
            name="%org.vtc.ui.common.view.ComponentExplorer"
            restorable="true">
      </view>
      <view
            class="org.vtc.ui.common.view.Console"
            icon="icons/monitor.png"
            id="org.vtc.ui.common.view.Console"
            name="%org.vtc.ui.common.view.Console"
            restorable="true">
      </view>
      <view
            class="org.vtc.ui.common.view.ProjectExplorer"
            icon="icons/folders_explorer.png"
            id="org.vtc.ui.common.view.ProjectExplorer"
            name="%org.vtc.ui.common.view.ProjectExplorer"
            restorable="true">
      </view>
      <view
            class="org.vtc.ui.common.view.PropertyEditor"
            icon="icons/table_edit.png"
            id="org.vtc.ui.common.view.PropertyEditor"
            name="%org.vtc.ui.common.view.PropertyEditor"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.vtc.ui.common.commands.exit"
            name="%org.vtc.ui.common.commands.exit">
      </command>
      <command
            id="org.vtc.ui.common.commands.save"
            name="%org.vtc.ui.common.commands.save">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.vtc.ui.common.menu.fileMenu"
               label="%org.vtc.ui.common.menu.fileMenu">
            <command
                  commandId="org.vtc.ui.common.commands.exit"
                  label="%org.vtc.ui.common.commands.exit"
                  style="push">
            </command>
         </menu>
         <menu
               id="org.vtc.ui.common.menu.editMenu"
               label="%org.vtc.ui.common.menu.editMenu">
            <command
                  commandId="org.vtc.ui.common.commands.exit"
                  label="%org.vtc.ui.common.commands.exit"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.vtc.ui.common.toolbar"
               label="%org.vtc.ui.common.toolbar">
            <command
                  commandId="org.vtc.ui.common.commands.save"
                  icon="icons/disk.png"
                  label="%org.vtc.ui.common.commands.save"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
