<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.vtc.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%org.vtc.ui.common.perspective"
            class="org.vtc.ui.common.Perspective"
            id="org.vtc.ui.common.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.vtc.application"
            name="VisualToolComposer">
         <property
               name="appName"
               value="VisualToolComposer">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="org.vtc.ui.common.view.ComponentExplorer"
            icon="icons/gear_in.png"
            id="org.vtc.ui.common.view.ComponentExplorer"
            name="%org.vtc.ui.common.view.ComponentExplorer"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="org.vtc.ui.common.view.Console"
            icon="icons/monitor.png"
            id="org.vtc.ui.common.view.Console"
            name="%org.vtc.ui.common.view.Console"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.vtc.ui.common.view.ProjectExplorer"
            icon="icons/folders_explorer.png"
            id="org.vtc.ui.common.view.ProjectExplorer"
            name="%org.vtc.ui.common.view.ProjectExplorer"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="org.vtc.ui.common.view.PropertyEditor"
            icon="icons/table_edit.png"
            id="org.vtc.ui.common.view.PropertyEditor"
            name="%org.vtc.ui.common.view.PropertyEditor"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.vtc.ui.common.commands.ClearConsoleHandler"
            id="org.vtc.ui.common.commands.clearConsole"
            name="%org.vtc.ui.common.commands.clearConsole">
      </command>
      <command
            id="org.vtc.ui.common.commands.newProject"
            name="%org.vtc.ui.common.commands.newProject">
      </command>
      <command
            id="org.vtc.ui.common.commands.newWorksheet"
            name="%org.vtc.ui.common.commands.newWorksheet">
      </command>
      <command
            id="org.vtc.ui.common.commands.help"
            name="%org.vtc.ui.common.commands.help">
      </command>
      <command
            id="org.vtc.ui.common.commands.export"
            name="%org.vtc.ui.common.commands.export">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.vtc.ui.common.menu.fileMenu"
               label="%org.vtc.ui.common.menu.fileMenu">
            <menu
                  id="org.vtc.ui.common.menu.newMenu"
                  label="%org.vtc.ui.common.menu.newMenu">
               <command
                     commandId="org.vtc.ui.common.commands.newProject"
                     icon="icons/application_add.png"
                     label="%org.vtc.ui.common.commands.newProject"
                     style="push">
               </command>
               <command
                     commandId="org.vtc.ui.common.commands.newWorksheet"
                     icon="icons/table_add.png"
                     label="%org.vtc.ui.common.commands.newWorksheet"
                     style="push">
               </command>
            </menu>
            <separator
                  name="org.vtc.ui.common.menu.seperator.file0"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.save"
                  icon="icons/disk.png"
                  label="%org.vtc.ui.common.commands.save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAs"
                  icon="icons/save_as.png"
                  label="%org.vtc.ui.common.commands.saveAs"
                  style="push">
            </command>
            <separator
                  name="org.vtc.ui.common.menu.seperator.file1"
                  visible="true">
            </separator>
            <command
                  commandId="org.vtc.ui.common.commands.export"
                  icon="icons/document_export.png"
                  label="%org.vtc.ui.common.commands.export"
                  style="push">
            </command>
            <separator
                  name="org.vtc.ui.common.menu.seperator.file2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.refresh"
                  label="%org.vtc.ui.common.commands.refresh"
                  style="push">
            </command>
            <separator
                  name="org.vtc.ui.common.menu.seperator.file3"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="%org.vtc.ui.common.commands.exit"
                  style="push">
            </command>
         </menu>
         <menu
               id="org.vtc.ui.common.menu.editMenu"
               label="%org.vtc.ui.common.menu.editMenu">
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  icon="icons/arrow_undo.png"
                  label="%org.vtc.ui.common.commands.undo"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  icon="icons/arrow_redo.png"
                  label="%org.vtc.ui.common.commands.redo"
                  style="push">
            </command>
            <separator
                  name="org.vtc.ui.common.menu.seperator.edit0"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.cut"
                  icon="icons/cut.png"
                  label="%org.vtc.ui.common.commands.cut"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  icon="icons/page_copy.png"
                  label="%org.vtc.ui.common.commands.copy"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  icon="icons/page_paste.png"
                  label="%org.vtc.ui.common.commands.paste"
                  style="push">
            </command>
            <separator
                  name="org.vtc.ui.common.menu.seperator.edit1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.delete"
                  icon="icons/delete.png"
                  label="%org.vtc.ui.common.commands.delete"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.selectAll"
                  label="%org.vtc.ui.common.commands.selectAll"
                  style="push">
            </command>
            <separator
                  name="org.vtc.ui.common.menu.seperator.edit2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.findReplace"
                  icon="icons/find.png"
                  label="%org.vtc.ui.common.commands.findReplace"
                  style="push">
            </command>
         </menu>
         <menu
               id="org.vtc.ui.common.menu.windowMenu"
               label="%org.vtc.ui.common.menu.windowMenu">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="%org.vtc.ui.common.commands.showViews"
                  style="push">
            </command>
            <separator
                  name="org.vtc.ui.common.menu.seperator.window0"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  icon="icons/preferences.png"
                  label="%org.vtc.ui.common.commands.preferences"
                  style="push">
            </command>
         </menu>
         <menu
               id="org.vtc.ui.common.menu.helpMenu"
               label="%org.vtc.ui.common.menu.helpMenu">
            <command
                  commandId="org.eclipse.ui.help.displayHelp"
                  icon="icons/help.png"
                  label="%org.vtc.ui.common.commands.help"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  label="%org.vtc.ui.common.commands.about"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.vtc.ui.common.toolbar"
               label="%org.vtc.ui.common.toolbar">
            <command
                  commandId="org.eclipse.ui.file.save"
                  icon="icons/disk.png"
                  label="%org.vtc.ui.common.commands.save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAs"
                  icon="icons/save_as.png"
                  label="%org.vtc.ui.common.commands.saveAs"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  icon="icons/arrow_undo.png"
                  label="%org.vtc.ui.common.commands.undo"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  icon="icons/arrow_redo.png"
                  label="%org.vtc.ui.common.commands.redo"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.vtc.ui.common.view.Console">
         <command
               commandId="org.vtc.ui.common.commands.clearConsole"
               icon="icons/page_white_delete.png"
               label="%org.vtc.ui.common.commands.clearConsole"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.vtc.ui.common.preferences.Preferences"
            id="org.vtc.ui.common.preferences"
            name="%org.vtc.ui.common.preferences">
      </page>
   </extension>

</plugin>
