<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.vtc.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspective.name.vtc"
            class="org.vtc.perspective.Perspective"
            id="org.vtc.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.vtc.application"
            name="%product.name">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.vtc.perspective.view.ComponentExplorer"
            id="org.vtc.perspective.view.ComponentExplorer"
            name="%view.name.componentExplorer"
            restorable="true">
      </view>
      <view
            class="org.vtc.perspective.view.Console"
            id="org.vtc.perspective.view.Console"
            name="%view.name.console"
            restorable="true">
      </view>
      <view
            class="org.vtc.perspective.view.ProjectExplorer"
            id="org.vtc.perspective.view.ProjectExplorer"
            name="%view.name.projectExplorer"
            restorable="true">
      </view>
      <view
            class="org.vtc.perspective.view.PropertyEditor"
            id="org.vtc.perspective.view.PropertyEditor"
            name="%view.name.propertyEditor"
            restorable="true">
      </view>
   </extension>

</plugin>
